# =====================================================================
# INPUT
# =====================================================================

COMUNI_ZONE_PATH=utility/comuni_lombardia_zone_geo.csv

# =====================================================================
# OUTPUT
# =====================================================================

OUTPUT_FOLDER=output
LOG_FOLDER=log

# =====================================================================
# OPEN-METEO
# =====================================================================

FORECAST_DAYS=15
MODEL=ecmwf_aifs025_ensemble

# =====================================================================
# ELABORAZIONE
# =====================================================================

MAX_COMUNI_PER_SOTTOZONA=10

# =====================================================================
# RETRY E RATE LIMIT
# =====================================================================

API_MAX_RETRIES=5
PAUSA_TRA_RICHIESTE=10